* {
    box-sizing: border-box;
    background-color: rgb(250, 187, 179);
    font-family: 'Roboto' , sans-serif;
}

header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 80px;
}

#task-form {
    text-align: center;
    padding: 24px;
}

input, button {
    padding: 8px;
}

button {
    background-color: salmon;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}


ul li {
    margin: auto 50%;
    list-style: square;
}